/**
 * Feuille de style du module
 * Les classes préfixées par 'bis-'
 */

nav.custom-tabs {
  font-family: var(--font-h4);
  font-size: var(--font-h4-size);
}

.bis-cadre {
  border: 1px solid #333;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

/**
 * roll messages
 */
.chat-message p.bis-chat-titre {
  font-weight: bold;
  font-family: var(--font-h4);
  font-size: var(--font-h4-size);
}
.chat-message .bis-result {
  font-weight: bold;
  font-family: var(--font-h4);
  font-size: var(--font-h4-size);
  text-align: right;
}
.chat-message .bis-roll-result {
  font-weight: bold;
  font-family: var(--font-h4);
  font-size: var(--font-h4-size);
  padding: 2px;
  text-align: center;
  font-weight: bold;
  border: solid 1px black;
  background-color: white !important;
}
.chat-message .bis-roll-reussite {
  color: var(--color-level-success);
  border: solid 1px var(--color-level-success-border);
}
.chat-message .bis-roll-reussite::before, .chat-message .bis-roll-reussite::after {
  font: var(--fa-font-solid);
  content: '\f00c';
  padding: 0.5em;
}
.chat-message .bis-roll-echec {
  color: var(--color-level-error);
  border: solid 1px var(--color-level-error-border);
}
.chat-message .bis-roll-echec::before, .chat-message .bis-roll-echec::after {
  font: var(--fa-font-solid);
  content: '\21';
  padding: 0.5em;
}

.chat-message .bis-roll-oui-mais::before, .chat-message .bis-roll-oui-mais::after {
  font: var(--fa-font-solid);
  content: '\3f' !important;
  padding: 0.5em;
}

.chat-message .bis-roll-reussite-critique, .chat-message .bis-roll-fiasco {
  border-width: 4px !important;
}
.chat-message .bis-roll-non-mais::before, .chat-message .bis-roll-non-mais::after {
  font: var(--fa-font-solid);
  content: '\f071' !important;
  padding: 0.5em;
}
